*.swp
/dep/sde-external-8.*-lin/
/util/sdetest*_out*
/util/polybench-c-3.2*
/util/polybench-c-4.2*
/HPL/
/MODYLAS/
/SPEC_CPU/
/SPEC_OMP/
/polybench/
/dep/*.iso
/dep/REVOCAP_Refiner-1.1.01.tgz
/dep/modylas-mini-1.0.0.tar.gz
/dep/silo-4.10.2.tar.gz
/dep/silo-4.10.2/
/dep/iaca-lin64/
/log/
