[submodule "AMG"]
	path = AMG
	url = https://github.com/LLNL/AMG.git
[submodule "CANDLE"]
	path = CANDLE
	url = https://github.com/ECP-CANDLE/Benchmarks.git
[submodule "CoMD"]
	path = CoMD
	url = https://github.com/ECP-copa/CoMD.git
[submodule "Laghos"]
	path = Laghos
	url = https://github.com/CEED/Laghos
[submodule "dep/mfem"]
	path = dep/mfem
	url = https://github.com/mfem/mfem.git
[submodule "MACSio"]
	path = MACSio
	url = https://github.com/LLNL/MACSio.git
[submodule "dep/json-cwx"]
	path = dep/json-cwx
	url = https://github.com/LLNL/json-cwx
[submodule "MiniAMR"]
	path = MiniAMR
	url = https://github.com/Mantevo/miniAMR.git
[submodule "MiniFE"]
	path = MiniFE
	url = https://github.com/Mantevo/miniFE.git
[submodule "MiniTri"]
	path = MiniTri
	url = https://github.com/Mantevo/miniTri.git
[submodule "Nekbone"]
	path = Nekbone
	url = https://github.com/Nek5000/Nekbone.git
[submodule "SW4lite"]
	path = SW4lite
	url = https://github.com/geodynamics/sw4lite.git
[submodule "XSBench"]
	path = XSBench
	url = https://github.com/ANL-CESAR/XSBench.git
[submodule "QCD"]
	path = QCD
	url = https://github.com/fiber-miniapp/ccs-qcd.git
[submodule "FFVC"]
	path = FFVC
	url = https://github.com/fiber-miniapp/ffvc-mini.git
[submodule "NICAM"]
	path = NICAM
	url = https://github.com/fiber-miniapp/nicam-dc-mini.git
[submodule "MVMC"]
	path = MVMC
	url = https://github.com/fiber-miniapp/mVMC-mini.git
[submodule "NGSAnalyzer"]
	path = NGSAnalyzer
	url = https://github.com/fiber-miniapp/ngsa-mini.git
[submodule "NTChem"]
	path = NTChem
	url = https://github.com/fiber-miniapp/ntchem-mini.git
[submodule "FFB"]
	path = FFB
	url = https://github.com/fiber-miniapp/ffb-mini.git
[submodule "HPCG"]
	path = HPCG
	url = https://github.com/hpcg-benchmark/hpcg.git
[submodule "dep/msr-safe"]
	path = dep/msr-safe
	url = https://github.com/LLNL/msr-safe.git
[submodule "dep/likwid"]
	path = dep/likwid
	url = https://github.com/RRZE-HPC/likwid.git
[submodule "dep/intel-pcm"]
	path = dep/intel-pcm
	url = https://github.com/opcm/pcm.git
[submodule "BabelStream"]
	path = BabelStream
	url = https://github.com/UoB-HPC/BabelStream.git
[submodule "dep/spack"]
	path = dep/spack
	url = https://github.com/spack/spack
[submodule "dep/mpi-wrap-gen"]
	path = dep/mpi-wrap-gen
	url = https://github.com/LLNL/wrap.git
[submodule "dep/OSACA"]
	path = dep/OSACA
	url = https://github.com/RRZE-HPC/OSACA.git
[submodule "HiBench"]
	path = HiBench
	url = https://github.com/Intel-bigdata/HiBench.git
[submodule "dep/mpistub"]
	path = dep/mpistub
	url = https://github.com/hsorby/mpistub.git
[submodule "dep/gem5_riken"]
	path = dep/gem5_riken
	url = https://github.com/RIKEN-RCCS/riken_simulator.git
[submodule "DLproxy"]
	path = DLproxy
	url = https://gitlab.com/undertherain/buildcontainers.git
[submodule "dep/sst/sst-core"]
	path = dep/sst/sst-core
	url = https://github.com/sstsimulator/sst-core.git
[submodule "dep/sst/sst-elements"]
	path = dep/sst/sst-elements
	url = https://github.com/sstsimulator/sst-elements.git
[submodule "dep/sst/sst-macro"]
	path = dep/sst/sst-macro
	url = https://github.com/sstsimulator/sst-macro.git
[submodule "dep/sst/sst-tools"]
	path = dep/sst/sst-tools
	url = https://github.com/sstsimulator/sst-tools.git
[submodule "dep/sst/sst-tutorials"]
	path = dep/sst/sst-tutorials
	url = https://github.com/sstsimulator/sst-tutorials
[submodule "dep/sst/DRAMsim3"]
	path = dep/sst/DRAMsim3
	url = https://github.com/umd-memsys/DRAMsim3.git
[submodule "dep/sst/sst-external-element"]
	path = dep/sst/sst-external-element
	url = https://github.com/sstsimulator/sst-external-element.git
