*.swp
*.swo
/dep/sde-external-8.*-lin/
/util/sdetest*_out*
/util/polybench-c-3.2*
/util/polybench-c-4.2*
/HPL/
/MODYLAS/
/SPEC_CPU/
/SPEC_OMP/
/polybench/
/micro/src/*
/fs2020/
/dep/*.iso
/dep/fs2020*.zip
/dep/REVOCAP_Refiner-1.1.01.tgz
/dep/modylas-mini-1.0.0.tar.gz
/dep/bcsstk30.mtx.gz
/dep/hpl-2.2.tar.gz
/dep/fftw-3.3.4.tar.gz
/dep/scalapack-2.0.2.tgz
/dep/hypre-2.10.0b.tar.gz
/dep/metis-4.0.3.tar.gz
/dep/metis-5.1.0.tar.gz
/dep/ngsa-dummy.tar.gz
/dep/polybench-c-4.2.1-beta.tar.gz
/dep/spark-2.4.0.tgz
/dep/Python-2.7.tar.bz2
/dep/scons-1.3.1.tar.gz
/dep/pin-*.tar.gz
/dep/silo-4.10.2.tar.gz
/dep/silo-4.10.2/
/dep/iaca-lin64/
/dep/sst/bin/
/dep/sst/etc/
/dep/sst/include/
/dep/sst/lib/
/dep/sst/libexec/
/dep/sst/pin*
/dep/mnt_SPEC_CPU
/dep/mnt_SPEC_OMP
/dep/mnt_SPEC_MPI
/log/
*.sh.*.out
*.sh.*.out.*
*.sh.*.err
*.sh.*.err.*
