[submodule "AMG"]
	path = AMG
	url = https://github.com/LLNL/AMG.git
[submodule "CANDLE"]
	path = CANDLE
	url = https://github.com/ECP-CANDLE/Benchmarks.git
[submodule "CoMD"]
	path = CoMD
	url = https://github.com/ECP-copa/CoMD.git
[submodule "Laghos"]
	path = Laghos
	url = https://github.com/CEED/Laghos
[submodule "dep/mfem"]
	path = dep/mfem
	url = https://github.com/mfem/mfem.git
[submodule "MACSio"]
	path = MACSio
	url = https://github.com/LLNL/MACSio.git
[submodule "dep/json-cwx"]
	path = dep/json-cwx
	url = https://github.com/LLNL/json-cwx
