[submodule "AMG"]
	path = AMG
	url = https://github.com/LLNL/AMG.git
[submodule "CANDLE"]
	path = CANDLE
	url = https://github.com/ECP-CANDLE/Benchmarks.git
[submodule "CoMD"]
	path = CoMD
	url = https://github.com/ECP-copa/CoMD.git
[submodule "Laghos"]
	path = Laghos
	url = https://github.com/CEED/Laghos
[submodule "dep/mfem"]
	path = dep/mfem
	url = https://github.com/mfem/mfem.git
[submodule "MACSio"]
	path = MACSio
	url = https://github.com/LLNL/MACSio.git
[submodule "dep/json-cwx"]
	path = dep/json-cwx
	url = https://github.com/LLNL/json-cwx
[submodule "MiniAMR"]
	path = MiniAMR
	url = https://github.com/Mantevo/miniAMR.git
[submodule "MiniFE"]
	path = MiniFE
	url = https://github.com/Mantevo/miniFE.git
[submodule "MiniTri"]
	path = MiniTri
	url = https://github.com/Mantevo/miniTri.git
[submodule "Nekbone"]
	path = Nekbone
	url = https://github.com/Nek5000/Nekbone.git
[submodule "SW4lite"]
	path = SW4lite
	url = https://github.com/geodynamics/sw4lite.git
[submodule "SWFFT"]
	path = SWFFT
	url = https://xgitlab.cels.anl.gov/hacc/SWFFT.git
[submodule "XSBench"]
	path = XSBench
	url = https://github.com/ANL-CESAR/XSBench.git
